

.list ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0;
    list-style: none;
}

.list li { 
    display: grid;
    width: 150px;
    height: 100px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 6px 0px #ADD7CC;
    border-radius: 10px;
    
    font-size: large;

    transition: 0.1s;
}

.list li:hover {
    background-color: #608672;
    color: white;
}

.list b {
    font: bold;
    font-size: 25px;
}

hr {
    margin: 40px 0px;
}