/*

Black 000000
Dark Blue 14213d
Yellow fca311
Grey e5e5e5
White ffffff

*/

body {
    background-color: #e2eef0;  
    margin: 90px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #31485D;
}   