/*

Black 000000
Dark Blue 14213d
Yellow fca311
Grey e5e5e5
White ffffff

*/

body {
    background-color: #e4edef;  
    padding: 80px 30px 0px 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #31485D;
}   