.navbar {
    position: fixed;
    top: 10px;
    right: 10px;
    left: 10px;
    background-color: white;
    display: flex;
    width: calc(100% - 20px);
    flex-direction: row;
    justify-content: space-evenly   ;
    height: 70px;
    align-items: center;
    border-radius: 25px;
    border: none;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    color: #31485D;
}