.navbar {
    position: fixed;
    top: 10px;
    right: 10px;
    left: 10px;
    background-color: white;
    display: flex;
    width: calc(100% - 20px);
    flex-direction: row;
    justify-content: space-evenly   ;
    height: 70px;
    align-items: center;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 0px 10px 1px #ADD7CC;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    color: #31485D;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    transition: 0.1s;
}

.navbar a:hover {
    background-color: #689178;
    height: 70px;
    color: white; 
    border-radius: 5px;
    opacity: 30%;
}

.navbar a:active {
    background-color: #689178;
    opacity: 70%;
}